<div id="mc_embed_signup" class="newsletter-form">
  <form action="//mindingourway.us11.list-manage.com/subscribe/post?u=b61a87ff1a0bb74378bceab60&amp;id=a0a0006de5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
    <h5 style="margin: 5px; color: #777470;">Get the latest posts by email</h5>
    <div>
      <input type="email" value="" placeholder="your email address" name="EMAIL" class="newsletter-email-input" id="mce-EMAIL">
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="subscribe-button newsletter-button" style="text-transform: uppercase;">
    </div>
    <div style="clear: both; padding-top: 16px;">
      <div id="mce-error-response" style="display:none; color: rgb(87, 32, 25);"></div>
      <div id="mce-success-response" style="display:none; color: rgb(41, 77, 41);"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;">
      <input type="text" name="b_b61a87ff1a0bb74378bceab60_a0a0006de5" tabindex="-1" value="">
    </div>
  </form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
